/*IMPORTING FONTS STYLE*/
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@500;700&display=swap');


/*STYLING HTML/BODY & HEADINGS & PARAGRAPH*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    width: 100%;
    height: 100%;
    font-size: 62.5%;
}

body {
    display: grid;
    text-align: center;
    align-content: center;
    justify-items: center;
    background-color: #c2fe55;
    font-family: 'Inconsolata', monospace;
    font-weight: 500;
    width: 100%;
    min-height: 100%;
    margin: 0;
}

h3, h4, h5 {
    font-weight: 700;
    margin: 2rem 1.5rem;
}

h3 {
    font-size: 3rem;
    color: #e32e44;
}

h4 {
    font-size: 2.5rem;
    color: #0000ec;
}

h5 {
    font-size: 2.2rem;
    color: #d81a31;  
}

p {
    font-size: 1.5rem;
    color: #0000ec;
    margin: 1rem;
}

/*CANVAS STYLING*/
#gameCanvas {
    display: none;
    border: 0.5rem solid #ff489f;
    margin: 2rem 1.5rem;
}

/*STYLING HOW TO PLAY MODAL*/
#howToPlayModal {
    display: none;
    position: fixed;
    justify-content: center;
    align-items: center;
    padding-top: 9rem;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    overflow: auto;
    background-color: rgba(248, 15, 69, 0.5);
}

.how-to-play-content {
    position: relative;
    background-color: #9ef2fb;
    width: 50%;
    padding: 0;
    margin: auto;
    border: 0.5rem solid #c2fe55;
    animation-name: animatetop;
    animation-duration: 0.4s;
}

/*STYLING MODAL ANIMATION*/
@keyframes animatetop {
    from {top: -25rem; opacity: 0}
    to {top: 0; opacity: 1}
}

@-webkit-keyframes animatetop {
    from {top: -25rem; opacity: 0}
    to {top: 0; opacity: 1}
}
/*STYLING HOW TO PLAY TIPS LIST*/
.how-to-play-tips li {
    font-size: 1.8rem; 
    font-weight: 700;
    color: #588a21;
    margin: 1rem 2.5rem;
}

/*STYLING GAME HOW TO PLAY/OPEN/CLOSE BUTTONS*/
.game-buttons a {
    display: inline;
    font-size: 2rem; 
    font-weight: 700;
    text-decoration: none;
    padding: 1rem;
    border-radius: 0.5rem;
    margin: 1rem;
    transition: all .4s ease-in-out;
   -moz-transition: all .4s ease-in-out;
   -webkit-transition: all .4s ease-in-out;
   -o-transition: all .4s ease-in-out;
}

#howToPlayGame {
    color: #5200cf;
    background-color: #17ffce;
    border: 0.3rem solid #c41455;
    
}

#openGame {
    color: #cae1f2;
    background-color: #dd73ff;
    border: 0.3rem solid #c56f14;
}

#closeGame {
    color: #c9172b;
    background-color: #00ff00;
    border: 0.3rem solid #9414ff;
    transition: all .4s ease-in-out;
   -moz-transition: all .4s ease-in-out;
   -webkit-transition: all .4s ease-in-out;
   -o-transition: all .4s ease-in-out;
}

#howToPlayGame:hover,
#openGame:hover, #closeGame:hover {
    background-color: #ff489f;
    border: 0.3rem solid #17ffce;
    color: #fad345;
}

/*STYLING SOCIAL LINKS ICONS*/
.social-links i {
    font-size: 2rem;
    border: 0.3rem solid #641220;
    color: #e71d36;
    border-radius: 0.5rem;
    margin-top: 3.5rem;
    padding: 0.4rem;
    transition: all .4s ease-in-out;
   -moz-transition: all .4s ease-in-out;
   -webkit-transition: all .4s ease-in-out;
   -o-transition: all .4s ease-in-out;
}

/*ADDING HOVER SELECTOR TO SOCIAL-LINKS ICONS*/
.fab:hover {
    background-color: #2fffd8;
    -webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
            transform: scale(1.3);
}

/*STYLING COPYRIGHT TEXT*/
.copyright {
    text-align: center;
    font-size: 2rem; 
    color: #560c03;
    margin: 0.5rem;
}