/*IMPORTING FONTS STYLE*/
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@500;700&display=swap');

/*STYLING HTML/BODY & HEADINGS*/
* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    width: 100%;
    height: 100%;
    font-size: 62.5%;
}

body {
    display: -ms-grid;
    display: grid;
    text-align: center;
    -ms-flex-line-pack: center;
        align-content: center;
    justify-items: center;
    background-color: #c2fe55;
    font-family: 'Inconsolata', monospace;
    font-weight: 500;
    width: 100%;
    min-height: 100%;
    margin: 0;
}

h1, h2, h3 {
    font-weight: 700;
    margin: 1.5rem 0.5rem;
}

h1 {
    font-size: 3rem;
    color: #e32e44;
}

h2 {
    font-size: 2.5rem;
    color: #0000ec;
}

h3 {
    font-size: 2.2rem;
    color: #d81a31;  
}

/*CANVAS STYLING*/
#gameCanvas {
    display: none;
    border: 0.5rem solid #ff489f;
    margin: 0.5rem;
    resize:both;
}

/*STYLING HOW TO PLAY MODAL*/
#howToPlayModal,
#warningModal {
    display: none;
    position: fixed;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 7rem;
    width: 100%;
    height: 100%;
    overflow: scroll;
    left: 0;
    top: 0;
    background-color: rgb(8, 13, 31);
}

.how-to-play-content,
.user-warning-content {
    position: relative;
    background-color: #f4fdfd;
    width: 50%;
    padding: 0;
    margin: auto;
    border: 0.2rem solid #d81a31;
    -webkit-animation-name: animatetop;
            animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
            animation-duration: 0.4s;
}

/*STYLING MODAL ANIMATION*/
@keyframes animatetop {
    from {top: -25rem; opacity: 0}
    to {top: 0; opacity: 1}
}

@-webkit-keyframes animatetop {
    from {top: -25rem; opacity: 0}
    to {top: 0; opacity: 1}
}
/*STYLING HOW TO PLAY TIPS LIST*/
.how-to-play-tips li {
    font-size: 1.8rem; 
    font-weight: 700;
    color: #021f2e;
    margin: 1rem 2.5rem;
}

.close-modal-info {
    font-size: 1.5rem;
    color: #1d44b0;
    margin: 1rem;
}

/*STYLING GAME HOW TO PLAY/OPEN/CLOSE BUTTONS*/
#userWarning {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    color: #03062a;
    background-color: #ef0000;
    border: 0.3rem solid #579dff;
    font-size: 4rem; 
    font-weight: 700;
    text-decoration: none;
    padding: 3rem;
    border-radius: 0.8rem;
    margin: 0.5rem;
    transition: all .4s ease-in-out;
   -moz-transition: all .4s ease-in-out;
   -webkit-transition: all .4s ease-in-out;
   -o-transition: all .4s ease-in-out;
}
.game-menu {
    text-decoration: underline;
    color: #0f7858;
    font-size: 2.5rem;
    font-weight: 700;
}
.game-buttons a {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    font-size: 2rem; 
    font-weight: 700;
    text-decoration: none;
    padding: 0.7rem;
    border-radius: 0.5rem;
    margin: 1rem 0.8rem;
    transition: all .4s ease-in-out;
   -moz-transition: all .4s ease-in-out;
   -webkit-transition: all .4s ease-in-out;
   -o-transition: all .4s ease-in-out;
}

#howToPlayGame {
    color: #5200cf;
    background-color: #17ffce;
    border: 0.3rem solid #c41455;
}

#openGame {
    color: #cae1f2;
    background-color: #e8653f;
    border: 0.3rem solid #cae1f2;
}

#closeGame {
    color: #c9172b;
    background-color: #00ff00;
    border: 0.3rem solid #9414ff;
}

#howToPlayGame:hover,
#openGame:hover, #closeGame:hover {
    background-color: #ff489f;
    border: 0.3rem solid #17ffce;
    color: #fad345;
}

/*STYLING SOCIAL LINKS ICONS*/
.social-links i {
    font-size: 2rem;
    border: 0.3rem solid #641220;
    color: #e71d36;
    border-radius: 0.5rem;
    margin-top: 2rem;
    padding: 0.4rem;
    transition: all .4s ease-in-out;
   -moz-transition: all .4s ease-in-out;
   -webkit-transition: all .4s ease-in-out;
   -o-transition: all .4s ease-in-out;
}

/*ADDING HOVER SELECTOR TO SOCIAL-LINKS ICONS*/
.fab:hover {
    background-color: #2fffd8;
    -webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
            transform: scale(1.3);
}

/*STYLING COPYRIGHT TEXT*/
.copyright {
    text-align: center;
    font-size: 2rem; 
    color: #560c03;
    margin: 0.5rem;
}


/*HIDING THE START AND CLOSE THE GAME BUTTONS ON SMALL DEVICES*/
@media (min-width: 319.98px) and (max-width: 767.98px) {
    .game-menu,
    .game-buttons a {
       display: none;
    }
 }

/*HIDING THE WARNING MESSAGE BUTTON ON BIGGER DEVICES*/
@media (min-width: 768px) {
    #userWarning {
        display: none;
    }

}
