/*IMPORTING FONTS STYLE*/
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&display=swap');


/*STYLING HTML/BODY & HEADINGS*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    width: 100%;
    height: 100%;
}

body {
    display: grid;
    text-align: center;
    align-content: center;
    justify-items: center;
    background-color: #c2fe55;
    font-family: 'Inconsolata', monospace;
    width: 100%;
    min-height: 100%;
    margin: 0;
}

h3 {
    color: #e32e44;
    font-weight: bold;
    margin-top: 10px;
}

h4 {
    color: #0000ec;
    font-weight: bold;
    margin-bottom: 20px;
}

h5 {
    color: #ea4d06;
    font-weight: bold;
    margin-top: 15px;
}
/*CANVAS STYLING*/
#gameCanvas {
    display: none;
    border: 10px solid #ff489f;
    margin: 25px 25px;
}

/*STYLING RULES MODAL*/
#rulesModal {
    display: none;
    position: fixed;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    overflow: auto;
    background-color: rgba(11, 248, 31, 0.6);
}

.rules-content {
    position: relative;
    background-color: #9ef2fb;
    width: 50%;
    margin: auto;
    padding: 0;
    border: 3px solid #dd0058;
}

/*STYLING OPEN & CLOSE BUTTONS*/
#rules {
    font-size: 20px;
    font-weight: bold;
    color: #5200cf;
    text-decoration: none;
    padding: 8px;
    background-color: #17ffce;
    border: 3px solid #c41455;
    border-radius: 5px;
    margin: 15px;
    transition: all .4s ease-in-out;
   -moz-transition: all .4s ease-in-out;
   -webkit-transition: all .4s ease-in-out;
   -o-transition: all .4s ease-in-out;
}

#openGame {
    font-size: 20px;
    font-weight: bold;
    color: #cae1f2;
    text-decoration: none;
    padding: 8px;
    background-color: #dd73ff;
    border: 3px solid #c56f14;
    border-radius: 5px;
    margin: 15px;
    transition: all .4s ease-in-out;
   -moz-transition: all .4s ease-in-out;
   -webkit-transition: all .4s ease-in-out;
   -o-transition: all .4s ease-in-out;
}
#closeGame {
    font-size: 20px;
    font-weight: bold;
    color: #c9172b;
    text-decoration: none;
    padding: 8px;
    background-color: #00ff00;
    border: 3px solid #9414ff;
    border-radius: 5px;
    margin: 15px;
    transition: all .4s ease-in-out;
   -moz-transition: all .4s ease-in-out;
   -webkit-transition: all .4s ease-in-out;
   -o-transition: all .4s ease-in-out;
}

#rules:hover,
#openGame:hover,
#closeGame:hover {
    background-color: #ff489f;
    border: 3px solid #17ffce;
    color: #fad345;
}

/*APPLYING STYLE TO SOCIAL LINKS ICONS*/
.social-links i {
    font-size: 20px;
    border: 3px solid #641220;
    color: #e71d36;
    border-radius: 5px;
    margin-top: 45px;
    padding: 3px;
    transition: all .4s ease-in-out;
   -moz-transition: all .4s ease-in-out;
   -webkit-transition: all .4s ease-in-out;
   -o-transition: all .4s ease-in-out;
}

/*APPLYING INDIVIDUAL COLOR TO SOCIAL MEDIA LINKS ICONS WHEN USING HOVER*/
.fa-linkedin:hover,
.fa-github-square:hover,
.fa-instagram:hover,
.fa-twitter-square:hover {
    background-color: #2fffd8;
    -webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
            transform: scale(1.3);
}

/*COPYRIGHT TEXT STYLING*/
.copyright {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: #932203;
    margin-top: 10px;
}